.policy-title{
	margin-bottom: 14px;
    color: #282828;
    font-size: 32px;
    line-height: 46px;
    font-family: "PT Serif", serif;
    text-align:center;
}

.page-404 .content__wrapper{
	    padding-top: 120px;
}
