.need-to-hide {
  opacity: 0;
  -o-transition: -o-opacity 0.7s ease 0.5s;
  -moz-transition: -moz-opacity 0.7s ease 0.5s;
  -webkit-transition: -webkit-opacity 0.7s ease 0.5s;
  transition: opacity 0.7s ease 0.5s; }
  .page-loaded .need-to-hide {
    opacity: 1; }

.promo-price {
  padding-top: 90px; }
  .promo-price.need-to-hide {
    opacity: 1; }
  .promo-price__img {
    min-height: 320px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/picture_price_small.jpg"); }
  .promo-price__text {
    padding-top: 40px; }
    .promo-price__text .head01 {
      padding-bottom: 14px; }

.price-list {
  padding-top: 20px; }
  .price-list .btn-white {
    width: 140px; }
  .price-list__item {
    padding: 60px 0 62px;
    margin-top: 20px;
    background: #ffffff; }
    .price-list__item__icon {
      width: 44px;
      height: 30px;
      margin: -9px 0 17px -3px;
      background: url("../images/icons/icon_price.png") no-repeat center center;
      background-size: 100%; }
    .price-list__item__title {
      padding-bottom: 7px;
      color: #282828;
      font-size: 44px;
      line-height: 58px;
      font-family: "PT Serif", serif; }
    .price-list__item__description {
      list-style-type: none;
      padding: 0 0 18px;
      margin: 0; }
      .price-list__item__description li {
        padding-top: 12px; }
    .price-list__item__button {
      margin-top: 19px; }

.price-info {
  padding: 44px 0 62px;
  text-align: center; }
  .price-info__phone, .price-info__email {
    color: #282828;
    font-size: 24px;
    line-height: 36px;
    font-family: "PT Serif", serif; }
  .price-info__phone {
    margin-top: 12px;
    white-space: nowrap; }

@media screen and (min-width: 480px) {
  .promo-price {
    padding-top: 100px; }
    .promo-price__img {
      min-height: 420px;
      margin-left: -20px;
      margin-right: -20px; } }
@media screen and (min-width: 760px) {
  .promo-price {
    padding-top: 120px; }
    .promo-price__img {
      min-height: 520px;
      margin-left: 0;
      margin-right: 0;
      background-image: url("../images/picture_price_middle.jpg"); }
    .promo-price__text {
      width: 83.33%;
      margin: 0 auto; }

  .price-list__cards {
    width: 83.33%;
    margin: 0 auto; }
  .price-list__item__content {
    width: 80%;
    margin: 0 auto; }
    .price-list__item__content .content__wrapper {
      padding: 0; }

  .price-info {
    padding: 64px 0 88px; }
    .price-info__text {
      width: 83.33%;
      margin: 0 auto; }
    .price-info__phone, .price-info__email {
      font-size: 32px;
      line-height: 46px; } }
@media screen and (min-width: 1000px) {
  .need-to-hide {
    opacity: 1; }

  .promo-price {
    padding-top: 110px;
    font-size: 0;
    line-height: 0;
    direction: rtl; }
    .promo-price__img-pos {
      width: 58.33%;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      z-index: 3; }
    .promo-price__img {
      min-height: 530px;
      margin-left: 10px;
      margin-right: -40px; }
    .promo-price__text {
      width: 41.67%;
      min-height: 380px;
      display: inline-block;
      vertical-align: middle;
      direction: ltr;
      font-size: 16px;
      line-height: 28px; }
    .promo-price__text-pos {
      max-width: 90%; }

  .price-wrapper {
    position: relative;
    margin-top: -82px; }
    .price-wrapper__back {
      position: absolute;
      left: 60px;
      top: 0;
      right: 60px;
      bottom: 0;
      z-index: 1; }
      .price-wrapper__back::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        left: 6.67%;
        right: 6.67%;
        top: 0;
        bottom: 0;
        background: #eae9e7; }

  .price-list {
    font-size: 0;
    line-height: 0;
    position: relative;
    z-index: 5;
    padding-top: 15px; }
    .price-list .btn-white {
      width: 100%;
      max-width: 260px; }
    .price-list li {
      position: relative;
      padding-top: 12px;
      margin-bottom: 12px; }
      .price-list li::before {
        content: "";
        display: block;
        width: 70%;
        height: 1px;
        position: absolute;
        left: -1px;
        bottom: -9px;
        background: #f1f1f1; }
    .price-list__cards-shift {
      margin: 0 -10px; }
    .price-list__cards {
      width: 100%; }
    .price-list__card {
      width: 33.33%;
      display: inline-block;
      vertical-align: top;
      padding: 0 10px;
      font-size: 16px;
      line-height: 28px; }
    .price-list__items-revert {
      width: 66.67%;
      display: inline-block;
      vertical-align: top;
      direction: rtl; }
      .price-list__items-revert .price-list__card {
        width: 50%;
        direction: ltr; }
    .price-list__item {
      margin-top: -100px;
      padding: 90px 0 92px; }
      .price-list__item__description {
        padding-bottom: 26px; }
      .price-list__item__content .content__wrapper {
        padding: 0 10px; }
      .price-list__item__icon {
        margin-bottom: 37px;
        margin-left: 1px; }
    .price-list__item-platinum {
      margin-top: -150px;
      padding: 80px 0 92px; }

  .price-info {
    padding: 92px 0 138px;
    position: relative;
    z-index: 5; }
    .price-info__phone, .price-info__email {
      font-size: 56px;
      line-height: 68px; }
    .price-info__email {
      margin-top: 10px; } }
@media screen and (min-width: 1320px) {
  .promo-price {
    padding-top: 120px; }
    .promo-price__img {
      margin-right: -60px;
      background-image: url("../images/picture_price_large.jpg"); }
    .promo-price__text-pos {
      max-width: 80%; }
    .promo-price__text {
      min-height: 400px; }
      .promo-price__text .head01 {
        padding-bottom: 24px; }

  .price-wrapper {
    margin-top: -42px; }

  .price-list {
    padding-top: 0;
    margin-top: -105px; }
    .price-list li::before {
      bottom: -13px; }
    .price-list__cards-shift {
      margin: 0 -15px; }
    .price-list__card {
      padding: 0 15px; }
    .price-list__item__icon {
      width: 58px;
      height: 40px; }
    .price-list__item__title {
      font-size: 56px;
      line-height: 68px; }
    .price-list__item__description {
      margin-top: 8px; }
    .price-list__item__button {
      margin-top: 30px; }
    .price-list__item-platinum {
      padding-top: 70px; }

  .price-info {
    padding: 143px 0 188px; } }
@media screen and (min-width: 1600px) {
  .price-wrapper__back::before {
    left: 7.67%;
    right: 7.67%; } }
@media screen and (min-width: 1900px) {
  .promo-price {
    padding-top: 158px; }
    .promo-price .content__wrapper {
      padding: 0 65px; }
    .promo-price__img {
      min-height: 760px;
      margin-right: -95px; }
    .promo-price__text {
      min-height: 576px; }
    .promo-price__text-pos {
      max-width: 75%; }

  .price-wrapper {
    margin-top: -185px; }
    .price-wrapper__back::before {
      left: 8.67%;
      right: 8.67%; }

  .price-list__item {
    padding: 138px 0 144px; }
    .price-list__item__content {
      margin: 0 95px; }
    .price-list__item__icon {
      margin-left: -7px; }
    .price-list__item__title-main {
      font-size: 80px;
      line-height: 84px; }
  .price-list__item-platinum {
    padding-top: 120px; }

  .price-info {
    padding: 192px 0 238px; } }
/*** tests ** */
.overlay_test.price320 {
  background: #ff0000 url("../images/makets/price320.jpg") no-repeat center 0; }

.overlay_test.price760 {
  background: #ff0000 url("../images/makets/price760.jpg") no-repeat center 0; }

.overlay_test.price1000 {
  background: #ff0000 url("../images/makets/price1000.jpg") no-repeat center 0; }

.overlay_test.price1320 {
  background: #ff0000 url("../images/makets/price1320.jpg") no-repeat center 8px; }

.overlay_test.price1900 {
  background: #ff0000 url("../images/makets/price1900.jpg") no-repeat center -28px; }
